.photo-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 90px;
  padding: 0;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}